
<div>
  <h4 class="text-center text-info">Bonjour les devs 9</h4>
</div>

<div *ngIf="isConnected()">
  <div>
    <ul class="nav nav-fill w-100">
      <li class="nav-item">
        <a routerLink="my-memo" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="memo-recu" class="nav-link">Memo reçu</a>
      </li>
      <li class="nav-item">
        <a routerLink="about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a (click)="deco()" class="nav-link"><i class="fas fa-power-off"></i></a>
      </li>
    </ul>
  </div>

</div>

<router-outlet></router-outlet>