<div>
    <div>
        <div class="mt-5">
            <div style="margin: auto; width: 40%">
                <form #fLogin = "ngForm" (ngSubmit)="connexion(fLogin.value)">
                    <div class="card p-3 z-depth-3">
                        <div class="md-form">
                            <label>Login</label>
                            <input ngModel="" name="login" type="text" class="form-control">
                        </div>
                        <div class="md-form">
                            <label>Password</label>
                            <input ngModel="" name="password" type="password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm btn-block">connexion</button>
                        <button type="button" class="btn btn-link btn-sm btn-block">Inscription ?</button>
                        <br>
                        <p class="text-danger text-center"> {{ msg }} </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>